<footer class="fixed-bottom">
  <p class="text-muted footer-23technologies">
    23 Technologies GmbH / Teckstra&szlig;e 62 / 70190 Stuttgart&nbsp;&ndash;
    <a href="mailto:info@23technologies.cloud" title="info@23technologies.cloud"><i class="fa fa-envelope"></i></a>&nbsp;
    <a href="tel:004971121957006" title="+49 711 21957006"><i class="fa fa-phone"></i></a>&nbsp;
    <a href="tel:004971121957009" title="+49 711 21957009"><i class="fa fa-fax"></i></a>&nbsp;&ndash;
    CEO: Christian Berendt<br/>
    Information according to §5 TMG & Christian Berendt is responsible for the content according to §55.2 RStV<br/>
    Court of registration: Stuttgart&nbsp;&ndash;
    HRB: 776151&nbsp;&ndash;
    VAT identification number (according to §27.a UStG): will be issued<br/>
    We take privacy seriously. No personal data is collected. No cookies are set. No third party requests.
  </p>
</footer>
