<footer class="fixed-bottom">
  <p class="text-muted footer-23technologies">
    23 Technologies / Teckstra&szlig;e 62 / 70190 Stuttgart &ndash;
    <a href="mailto:info@23technologies.cloud" title="info@23technologies.cloud"><i class="fa fa-envelope"></i></a>&nbsp;
    <a href="tel:004971121957006" title="+49 711 21957006"><i class="fa fa-phone"></i></a>&nbsp;
    <a href="tel:004971121957009" title="+49 711 21957009"><i class="fa fa-fax"></i></a>&nbsp;&ndash;
    Christian Berendt (CEO) (information according to §5 TMG & responsibility for the content according to §55.2 RStV)
  </p>
</footer>
