<nav class="navbar fixed-top header-23technologies">
  <div class="container-fluid">
    <div class="row align-middle">
      <div class="col">
        <a href="{{ "/" | relURL }}" class="navbar-left" title="23technologies.cloud"><img src="{{ "images/logo-23technologies-single.png" | relURL }}" class="logo-23technologies-single" alt="23 Technologies Logo" title="23 Technologies"></a>
      </div>
      <div class="col">
        <a href="{{ "/" | relURL }}" title="23technologies.cloud"><i class="fa fa-home"></i></a>
      </div>
      <div class="col">
        <a href="mailto:info@23technologies.cloud" title="info@23technologies.cloud"><i class="fa fa-envelope"></i></a>
      </div>
      <div class="col">
        <a href="https://twitter.com/23t10s" title="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col">
        <a href="https://github.com/23technologies/" title="GitHub"><i class="fa fa-github"></i></a>
      </div>
      <div class="col">
        <a href="/projects" title="Projects"><i class="fa fa-cubes"></i></a>
      </div>
      <div class="col">
        <a href="/jobs" title="Job openings"><i class="fa fa-community"></i></a>
      </div>
    </div>
    <div>
      <a href="https://www.cyberforum.de"><img src="{{ "images/logo-cyberforum.png" | relURL }}" class="logo-cyberforum" title="CyberForum" alt="Logo CyberForum" /></a>
      <a href="https://osb-alliance.de"><img src="{{ "images/logo-osb-alliance.svg" | relURL }}" class="logo-osb-alliance" title="OSB Alliance" alt="Logo OSB Alliance" /></a>
    </div>
  </div>
</nav>
