<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "23 Technologies",
  "description": "23 Technologies",
  "publisher": {
    "@type": "Organization",
    "name": "23 Technologies GmbH"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://23technologies.cloud",
  "name": "23 Technologies",
  "legalName": "23 Technologies GmbH",
  "email": "info@23technologies.cloud",
  "telephone": "+49-711-21957006",
  "logo": "https://23technologies.dev/images/logo-23technologies.png",
  "sameAs": [
    "https://twitter.com/23t10s"
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Teckstraße 62",
    "addressLocality": "Stuttgart",
    "addressRegion": "Baden-Württemberg",
    "postalCode": "70190",
    "addressCountry": "DE"
  }
}
</script>
